/**
 * Css de Help
 */

/* HELP SCREEN CSS */
#HelpHead {
    width: 100%;
    height: 120px;
    position: absolute;
    top: 30px;
    left: 0;
    display: flex;
    justify-content: space-around;
}
#sokonyan4 {
    width: 628px;
    height: 74px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
}
#rainbowTitle2 {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 84px;
    left: 0;
    display: flex;
    justify-content: space-around;
}
#rainbow2 {
    width: 965px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
#catRight3 {
    width: 159px;
    height: 86px;
    position: absolute;
    top: 46px;
    left: 952px;
/*     background: url("../img/loadingCat.gif") no-repeat; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
}
.helpImage {
    width: 213px;
    height: 122px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
} 
#helpImage1 {
    left: 20px;
    top: 229px;
    background-image: url(../assets/img/sprite/ui/help1.jpg);
} 
#helpImage2 {
    left: 20px;
    top: 362px;
    background-image: url(../assets/img/sprite/ui/help2.jpg);
}
#helpImage3 {
    left: 20px;
    top: 497px;
    background-image: url(../assets/img/sprite/ui/help3.jpg);
}
#helpImage4 {
    left: 601px;
    top: 264px;
    background-image: url(../assets/img/sprite/ui/help4.png);
}
#helpImage5 {
    left: 601px;
    top: 427px;
    background-image: url(../assets/img/sprite/ui/help5.png);
}
/****/ 
 
 
#Help {
	position: absolute;
    width: 1136px;
    height: 640px;
    z-index: 500;
}


#helpBackground {
	position: absolute;
    width: 1136px;
    height: 640px;
    background-size: 100%100%;
}

.helpText {
	font-family:Fipps, sans-serif;
	position: absolute;
	text-align: center;
	line-height: 30px;
}

#helpTitle0 {
	font-size: 1.2em;
	left: 150px;
	top: 130px;
}

#helpTitle1 {
	font-size: 1.2em;
	left: 743px;
	top: 130px;
}

#helpLittle0 {
	font-size: 1.2em;
	left: 270px;
	top: 250px;
}

#helpLittle1 {
	font-size: 1.2em;
	left: 250px;
	top: 385px;
}

#helpLittle2 {
	font-size: 1.2em;
	left: 260px;
	top: 505px;
}

#helpLittle3 {
	font-size: 1.2em;
	left: 830px;
	top: 285px;
}

#helpLittle4 {
	font-size: 1.2em;
	left: 850px;
	top: 465px;
}

#helpButtonClose {
	font-family:Fipps, sans-serif;
	position: absolute;
	text-align: center;
	width: 230px;
	height: 70px;
	background-size: 100% 100%;
	left: 700px;
	top: 550px;
	font-size: 1em;
	padding-top: 6px;
	cursor: pointer;
}